<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/util 
	http://www.springframework.org/schema/util/spring-util-2.0.xsd 
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">

	<util:map id="utilmap" map-class="java.util.HashMap" key-type="java.lang.Integer"
		value-type="com.sahiljalan.model.Customer" />

	<bean name="customerNamesData" class="com.sahiljalan.repository.NamesDataImpl">
		<constructor-arg index="0" ref="utilmap" />
	</bean>

	<bean name="customerRepository"
		class="com.sahiljalan.repository.HibernateCustomerRepositoryImpl">
		<property name="namesData" ref="customerNamesData" />
		<!-- Here name must match with the setter property of reference class -->
	</bean>

	<bean name="customerService" class="com.sahiljalan.service.CustomerServiceImpl">
		<property name="customerRepository" ref="customerRepository" />
		<!-- <constructor-arg index="0" ref="customerRepository" /> -->
	</bean>

</beans>